{% extends 'home.html' %}

{% block searches %}
<!--So that's what blocks are for...
 make content optional on pages-->
{% endblock searches %}

{% block content %}
<!--title method capitalizes first letter, piped-->
<h2 style="text-align: center">{{ search | title }}</h2>
{{ rank_by }}
{{ genre }}
{{ year }}
<div class="container">
  <div class="row">
    {% for movie in list %}
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="SAD">
        </div>
        <div class="card-content">
          <p>{{ movie.title }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
